<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="plataforma escolar, gestão educacional, LMS, CTI Educacional, escolas profissionalizantes" name="keywords">
    <meta content="{{meta_description}}" name="description">
    <link rel="icon" href="{{favicon_url}}" type="image/png" sizes="32x32">
    <link rel="shortcut icon" href="{{favicon_url}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{URL}}/resources/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="{{URL}}/resources/css/style.css" rel="stylesheet">
    <style>
        .overlay-top::before {
            top: 0;
            {{css_overlay_top}}
        }
        .overlay-bottom::after {
            bottom: 0;
            {{css_overlay_bottom}}
        }
        .bg-image {
            background: {{css_bg_image}}
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body data-base-url="{{URL}}">
    <script>window.urlBase = (document.body.getAttribute('data-base-url') || '').replace(/\/$/, '');</script>

    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>{{telefone}}</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>{{email}}</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" target="_blank" rel="noopener" href="{{redes_facebook}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="text-white px-2" target="_blank" rel="noopener" href="{{redes_linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                    <a class="text-white px-2" target="_blank" rel="noopener" href="{{redes_instagram}}"><i class="fab fa-instagram"></i></a>
                    <a class="text-white pl-2" target="_blank" rel="noopener" href="{{redes_youtube}}"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>

    {{content}}

    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="{{URL}}/" class="d-inline-block mb-3">
                        <img src="{{logo_dark_url}}" alt="CTI Educacional" style="height: 80px;">
                    </a>
                    <p class="m-0">{{texto_institucional}}</p>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4">Fale com nosso time comercial</h3>
                    <p class="mb-3"><i class="fa fa-phone-alt mr-2"></i>{{telefone}}</p>
                    <p class="mb-3"><i class="fa fa-envelope mr-2"></i>{{email}}</p>
                    <a href="{{whatsapp_link}}" target="_blank" rel="noopener" class="btn btn-primary">WhatsApp comercial</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Soluções</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="{{URL}}/solucoes"><i class="fa fa-angle-right mr-2"></i>Visão geral</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/solucoes/gestao"><i class="fa fa-angle-right mr-2"></i>Gestão escolar</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/solucoes/construtor-cursos"><i class="fa fa-angle-right mr-2"></i>Construtor interativo</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/solucoes/catalogo-cti"><i class="fa fa-angle-right mr-2"></i>Catálogo CTI</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/solucoes/comercial"><i class="fa fa-angle-right mr-2"></i>Comercial e marketing</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/solucoes/certificados"><i class="fa fa-angle-right mr-2"></i>Certificados</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Institucional</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="{{URL}}/plataforma"><i class="fa fa-angle-right mr-2"></i>Plataforma</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/planos"><i class="fa fa-angle-right mr-2"></i>Planos</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/escola-modelo"><i class="fa fa-angle-right mr-2"></i>Escola modelo</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/sobre"><i class="fa fa-angle-right mr-2"></i>Sobre</a>
                        <a class="text-white-50 mb-2" href="{{URL}}/contato"><i class="fa fa-angle-right mr-2"></i>Contato</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Links úteis</h3>
                    <div class="d-flex flex-column justify-content-start">
                        {{link_alunos_html}}
                        <a class="text-white-50 mb-2" href="{{URL}}/certificado"><i class="fa fa-angle-right mr-2"></i>Verificar certificado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">Copyright &copy; <a class="text-white" href="{{URL}}/">CTI Educacional</a>. Todos os Direitos Reservados.</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0">Desenvolvido por <a class="text-white" target="_blank" rel="noopener" href="https://xdtec.com.br">XDTEC.COM.BR</a></p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{URL}}/resources/lib/easing/easing.min.js"></script>
    <script src="{{URL}}/resources/lib/waypoints/waypoints.min.js"></script>
    <script src="{{URL}}/resources/lib/counterup/counterup.min.js"></script>
    <script src="{{URL}}/resources/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="{{URL}}/resources/js/main.js"></script>
</body>

</html>
