 <style>
    /* Garante que o efeito de borda apareça no rodapé da div */
    .overlay-bottom {
        position: relative;
    }
    .overlay-bottom::after {
        content: ""; /* Necessário para o elemento existir */
        position: absolute;
        width: 100%;
        height: 80px; /* Altura da imagem da borda; ajuste se necessário */
        bottom: 0;
        left: 0;
        background: url('{{URL}}/resources/assets/img/overlay-bottom.png') bottom center no-repeat !important;
        background-size: cover !important; /* Faz a borda esticar por toda a largura */
        z-index: 1;
    }
</style>

<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" 
style="margin-bottom: 90px; 
background: linear-gradient(rgba(40, 120, 235, 0.9), rgba(40, 120, 235, 0.9)), url('{{URL}}/resources/assets/img/cursos-header.jpg') no-repeat center center; 
background-size: cover;">

<div class="container text-center py-5">
   <h1 class="text-white display-1">Detalhes do Curso</h1>
   <div class="d-inline-flex text-white mb-5">
       <p class="m-0 text-uppercase"><a class="text-white" href="{{URL}}/">Home</a></p>
       <i class="fa fa-angle-double-right pt-1 px-3"></i>
       <p class="m-0 text-uppercase">Cursos</p>
   </div>

   <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
   </div>
</div>
</div>
 
 <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <div class="section-title position-relative mb-5">
                            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Detalhes</h6>
                            <h1 class="display-4">{{curso}}</h1>
                        </div>
                        <div class="row">
                        <img class=" col-md-6 img-fluid rounded w-100 mb-4" src="{{URL}}/resources/assets/img/{{img}}" alt="Image">
                        <div class=" col-md-6" >
                            {{descricao}}
                        </div>
                        </div>
                    </div>

                    <h2 class="mb-3">Cursos Relacionados</h2>
                    
                       
                       
                        {{cursos}}

      
   
               </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="bg-primary mb-5 py-3">
                        <h3 class="text-white py-3 px-4 m-0">Course Features</h3>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Instructor</h6>
                            <h6 class="text-white my-3">Danilo Rodrigues</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Avaliações</h6>
                            <h6 class="text-white my-3">4.5 <small>(250)</small></h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Alunos</h6>
                            <h6 class="text-white my-3">35</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Carga Horária</h6>
                            <h6 class="text-white my-3">{{carga_h}} Hrs</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Nivel de Skill</h6>
                            <h6 class="text-white my-3">Todos os Niveis</h6>
                        </div>
                        <div class="d-flex justify-content-between px-4">
                            <h6 class="text-white my-3">Idioma</h6>
                            <h6 class="text-white my-3">Português</h6>
                        </div>
                        <h5 class="text-white py-3 px-4 m-0">A partir de R$ {{valor_mensal}} mensais</h5>
                        <div class="py-3 px-4">
                            <a class="btn btn-block btn-secondary py-3 px-5" href="https://wa.me/5515996712314" target="_blank">Matricular-se</a>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h2 class="mb-3">Categorias</h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Tecnologias Básicas</a>
                                <span class="badge badge-primary badge-pill">150</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Tecnologias Avançadas</a>
                                <span class="badge badge-primary badge-pill">131</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Marketing e Administrativo</a>
                                <span class="badge badge-primary badge-pill">78</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Profissionalizantes</a>
                                <span class="badge badge-primary badge-pill">56</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Games</a>
                                <span class="badge badge-primary badge-pill">98</span>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-5">
                        <h2 class="mb-4">Coursos Recentes</h2>
                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">
                            <img class="img-fluid rounded" src="{{URL}}/resources/assets/img/courses-80x80.jpg" alt="">
                            <div class="pl-3">
                                <h6>Web design & Desenvolvimento</h6>
                                <div class="d-flex">
                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Danilo Rodrigues</small>
                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>
                                </div>
                            </div>
                        </a>
                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">
                            <img class="img-fluid rounded" src="{{URL}}/resources/assets/img/courses-80x80.jpg" alt="">
                            <div class="pl-3">
                                <h6>Informática Avançada</h6>
                                <div class="d-flex">
                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Danilo Rodrigues</small>
                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>
                                </div>
                            </div>
                        </a>
                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">
                            <img class="img-fluid rounded" src="{{URL}}/resources/assets/img/courses-80x80.jpg" alt="">
                            <div class="pl-3">
                                <h6>Desenvolvimento de Games 3D</h6>
                                <div class="d-flex">
                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Danilo Rodrigues</small>
                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>
                                </div>
                            </div>
                        </a>
                        <a class="d-flex align-items-center text-decoration-none" href="">
                            <img class="img-fluid rounded" src="{{URL}}/resources/assets/img/courses-80x80.jpg" alt="">
                            <div class="pl-3">
                                <h6>Atendente de Farmácia</h6>
                                <div class="d-flex">
                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Danilo Rodrigues</small>
                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->