<style>
    /* Garante que o efeito de borda apareça no rodapé da div */
    .overlay-bottom {
        position: relative;
    }
    .overlay-bottom::after {
        content: ""; /* Necessário para o elemento existir */
        position: absolute;
        width: 100%;
        height: 80px; /* Altura da imagem da borda; ajuste se necessário */
        bottom: 0;
        left: 0;
        background: url('{{URL}}/resources/assets/img/overlay-bottom.png') bottom center no-repeat !important;
        background-size: cover !important; /* Faz a borda esticar por toda a largura */
        z-index: 1;
    }
</style>

<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" 
     style="margin-bottom: 90px; 
            background: linear-gradient(rgba(40, 120, 235, 0.9), rgba(40, 120, 235, 0.9)), url('{{URL}}/resources/assets/img/page-header.jpg') no-repeat center center; 
            background-size: cover;">
   
   <div class="container text-center py-5">
       <h1 class="text-white display-1">Sobre</h1>
       <div class="d-inline-flex text-white mb-5">
           <p class="m-0 text-uppercase"><a class="text-white" href="{{URL}}/">Home</a></p>
           <i class="fa fa-angle-double-right pt-1 px-3"></i>
           <p class="m-0 text-uppercase">Sobre</p>
       </div>
       
       <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
           </div>
   </div>
</div>

   


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{{URL}}/resources/assets/img/sobre.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">O CTI</h6>
                        <h1 class="display-4">Quer saber um pouco mais sobre nossa escola</h1>
                    </div>
                    <p>No CTI você encontra cursos presenciais realizando atividades na pratica em nosso laboratorio de informática e cursos EAD, os quais você tem a opção de estudar no conforto da sua casa. Venha conhecer nossos cursos e se surpreenda com a variedade de cursos de diverças modalidades para alunos de todas as idades.</p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">90</h1>
                                <h6 class="text-uppercase text-white">Cursos<span class="d-block">Disponiveis</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">1853</h1>
                                <h6 class="text-uppercase text-white">Alunos<span class="d-block">Formados</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">100</h1>
                                <h6 class="text-uppercase text-white">% De<span class="d-block">Satisfação</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">10</h1>
                                <h6 class="text-uppercase text-white">Suporte<span class="d-block">Aluno</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-image" 
    style="margin: 90px 0; 
           background: linear-gradient(rgba(40, 120, 235, 0.05), rgba(40, 120, 235, 0.05)), url('{{URL}}/resources/assets/img/bg-image.jpg') center center no-repeat; 
           background-size: cover; 
           background-attachment: fixed;">
   
   <div class="container">
       <div class="row">
           <div class="col-lg-7 my-5 pt-5 pb-lg-5">
               <div class="section-title position-relative mb-4">
                   <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">O que é o CTI?</h6>
                   <h1 class="display-4">Por que começar a estudar conosco?</h1>
               </div>
               <p class="mb-4 pb-2">No CTI, oferecemos uma metodologia de ensino voltada para a prática, garantindo que você desenvolva as habilidades necessárias para se destacar. Combinamos infraestrutura moderna e suporte especializado para acompanhar cada etapa do seu aprendizado.</p>
               
               <div class="d-flex mb-3">
                   <div class="btn-icon bg-primary mr-4">
                       <i class="fa fa-2x fa-graduation-cap text-white"></i>
                   </div>
                   <div class="mt-n1">
                       <h4>Instrutores Especializados</h4>
                       <p>Contamos com profissionais experientes e atuantes no mercado, prontos para transmitir conhecimentos práticos e tirar todas as suas dúvidas.</p>
                   </div>
               </div>

               <div class="d-flex mb-3">
                   <div class="btn-icon bg-secondary mr-4">
                       <i class="fa fa-2x fa-certificate text-white"></i>
                   </div>
                   <div class="mt-n1">
                       <h4>Certificação de Peso</h4>
                       <p>Nossos certificados são amplamente reconhecidos, valorizando seu currículo e comprovando sua competência técnica em todo o território nacional.</p>
                   </div>
               </div>

               <div class="d-flex">
                   <div class="btn-icon bg-warning mr-4">
                       <i class="fa fa-2x fa-book-reader text-white"></i>
                   </div>
                   <div class="mt-n1">
                       <h4>Método Presencial e Online</h4>
                       <p class="m-0">Nosso método adapta-se ao seu dia a dia. Você pode realizar atividades práticas presenciais com nossos instrutores ou acessar conteúdos exclusivos e suporte pedagógico de onde estiver, através da nossa plataforma online.</p>
                   </div>
               </div>
           </div>

           <div class="col-lg-5" style="min-height: 500px;">
               <div class="position-relative h-100">
                   <img class="position-absolute w-100 h-100" src="{{URL}}/resources/assets/img/aluna.jpg" style="object-fit: cover;">
               </div>
           </div>
       </div>
   </div>
</div>
   <!-- Feature end -->
