
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="{{URL}}/" class="navbar-brand ml-lg-3">
                <img src="{{URL}}/resources/assets/img/icons/logo1.webp" alt="Logo CTI" style="height: 45px;" class="mr-3">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                {{links}}
                </div>
                <a href="https://wa.me/5515996712314" target="_blank" class="btn btn-primary py-2 px-4 d-none d-lg-block">Matricule-se</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->